version: '3.8'

services:
  mongodb:
    image: mongo:3
    container_name: mongodb
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.6.3
    container_name: elasticsearch
    environment:
      - http.host=0.0.0.0
      - transport.host=localhost
      - network.host=0.0.0.0
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g
    volumes:
      - elastic_data:/usr/share/elasticsearch/data
    networks:
      - app-network

  graylog:
    build:
      context: ../..
      dockerfile: ../Dockerfile-graylog
    container_name: graylog
    environment:
      - GRAYLOG_PASSWORD_SECRET=somepasswordpepper
      - GRAYLOG_ROOT_PASSWORD_SHA2=8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918
      - GRAYLOG_WEB_ENDPOINT_URI=http://127.0.0.1:9000/api
      - GRAYLOG_MONGODB_URI=mongodb://mongodb:27017/graylog
    depends_on:
      - mongodb
      - elasticsearch
    ports:
      - "9000:9000"
      - "12201:12201/tcp"
    volumes:
      - graylog_data:/usr/share/graylog/data
    networks:
      - app-network

volumes:
  mongodb_data:
  elastic_data:
  graylog_data:

networks:
  app-network:
