name: technical
services:

  mysql:
    image: mysql:8.4.6
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_DATABASE: technical-db
    env_file:
      - env.mysql
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network
  # MongoDB for Graylog's configuration and metadata
  mongodb:
    image: mongo:3
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.6.3
    environment:
      - http.host=0.0.0.0
      - transport.host=localhost
      - network.host=0.0.0.0
      # Disable X-Pack security: https://www.elastic.co/guide/en/elasticsearch/reference/5.6/security-settings.html#general-security-settings
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g
    volumes:
      - opensearch_data:/usr/share/opensearch/data
    networks:
      - app-network
  graylog:
    image: graylog/graylog:2.4.6-1
    container_name: graylog
    environment:
      - GRAYLOG_PASSWORD_SECRET=somepasswordpepper
      - GRAYLOG_ROOT_PASSWORD_SHA2=8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918
      - GRAYLOG_WEB_ENDPOINT_URI=http://127.0.0.1:9000/api
      - GRAYLOG_MONGODB_URI=mongodb://mongodb:27017/graylog
    depends_on:
      - mongodb
      - elasticsearch
    ports:
      - "9000:9000"
      - "12201:12201/tcp"
    volumes:
      - graylog_data:/usr/share/graylog/data
    networks:
      - app-network
  redis:
    image: redis/redis-stack:latest # Or a specific version like redis/redis-stack:6.2.6-v9
    container_name: redis_stack
    restart: always
    ports:
      - "6379:6379"
      - "8001:8001" # RedisInsight will be available on this port
    volumes:
      - redis_data:/data # Persist Redis data
      - redisinsight_data:/db # Persist RedisInsight data (e.g., connections)
    networks:
      - app-network
  redis-exporter:
    image: oliver006/redis_exporter:latest
    container_name: redis_exporter
    restart: always
    ports:
      - "9121:9121"
    command:
      - '--redis.addr=redis_stack:6379'
    depends_on:
      - redis
    networks:
      - app-network
  rabbitmq:
    image: "rabbitmq:3.9-management"
    ports:
      - "5672:5672"  # RabbitMQ AMQP port
      - "15672:15672"  # RabbitMQ Management UI port
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq # Persistent data volume
    networks:
      - app-network
  mailhog:
    image: mailhog/mailhog:v1.0.1
    container_name: mailhog
    restart: always
    ports:
      - "1025:1025"   # SMTP
      - "8025:8025"   # MailHog Web UI
    environment:
      MH_STORAGE: maildir
      MH_MAILDIR_PATH: /maildir
    volumes:
      - my_mailhog_storage:/maildir
    networks:
      - app-network
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: api
    environment:
#     application-docker.properties
      - SPRING_PROFILES_ACTIVE=docker
    env_file:
      - env.mysql
    ports:
      - 8080:8080
    volumes:
      - api_data:/app/logs
    depends_on:
      - mailhog
    networks:
      - app-network
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    networks:
      - app-network
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    networks:
      - app-network
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SECURITY_ADMIN_USER=admin
    depends_on:
      - prometheus
    restart: always
volumes:
  mysql_data:
  mongodb_data:
  opensearch_data:
  graylog_data:
  redis_data:
  redisinsight_data:
  rabbitmq_data:
  my_mailhog_storage:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
      o: size=100m
  api_data:


networks:
  app-network: