global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'spring-actuator'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['api:8080']

  - job_name: 'redis'
    static_configs:
      - targets: ['redis-exporter:9121']
